/option_study/target
/enum_study/target
/guessing_game/target
/tuple_struct_study/target
/struct_study/target
/string_study/target
/slice_study/target
/rectangles/target
/mandelbrot/target
/collection_library_study/target
/crate_study/target
/crate_study_2/target
/match_study/target
/error_study/target
/generics_study/target
/lifetime_study/target
/trait_study/target
/oo_study/target
/control_syntax_study/target
